<div class="container my-5">
  <button (click)="goHome()" class="btn btn-outline-secondary mb-4">
    &larr; Retour à la liste
  </button>

  @if (loading) {
    <div class="d-flex justify-content-center my-5">
      <div class="spinner-border text-primary" role="status" aria-label="Chargement"></div>
    </div>
  } @if (movie && !loading) {
    <div class="card shadow-lg border-0">
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title text-primary">{{ movie.title }}</h3>
            <p class="card-text"><strong>Réalisateur :</strong> {{ movie.director }}</p>
            <p class="card-text"><strong>Note :</strong> ⭐ {{ movie.rating }}/10</p>
            <p class="card-text"><strong>Année de sortie :</strong> {{ movie.release_year }}</p>

            @if (movie.category_id) {
              <p class="card-text"><strong>Catégorie :</strong> @if( movie.category_id === 1){
              Science Fiction  } @else { Drama}</p>
              }

            <div class="mt-4 d-flex gap-2 flex-wrap">
              
              
              <a [routerLink]="['/movies', movie.id , 'edit']" class="btn btn-outline-primary btn-sm">
                ✏️ Modifier
              </a> 
              <button (click)="deleteMovie(movie.id!)" class="btn btn-outline-danger btn-sm">
                  <i class="bi bi-trash"></i> Supprimer
                </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  }
</div>

