.profile {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
    border-radius: 10px;
    background-color: rgba(210, 170, 113, 0.563);
    font-size: 30px;
    height: 300px;
    width: 400px;
    padding: 20px;
    box-shadow: rgb(30, 28, 28);
    color: white;
    
    
    
}


.users {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.img {
    width: 100px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img i {
    font-size: 100px;
    color: white;
}